doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     h2 list of product
     -          for(var prop in products)
                    div #{prop}: #{products[prop]} 
                            block content
