doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
        div.user {
            background-color: rgb(200,120,100);
            width:25%;
        }
  body
    h2 list of products
    each product in products
        div #{product.name} 
            a(href='listProducts/'+product.id) edit

    a(href='/') go back
    block content


