extends layout

block content
    head
        title= title
        style.
            div.user {
                background-color: rgb(200, 120, 100);
                width: 25%;
            }
            h2 {
                color: plum;
            }

    body
        .container
            .row
                .col-md-2
                .col-md-8
                    h2 list of products
                        span
                            a.btn.btn-success(href='/createproduct') Create new product
                    table.table.table-striped
                        thead
                            tr
                                th Name
                                th Quality
                                th Title
                                th Show
                        tbody
                            each product in products
                                tr
                                    td #{product.name}
                                    td #{product.quality}
                                    td #{product.title}
                                    td: a.btn.btn-primary(href='listproducts/' + product.pslug) show


