extends layout



block content


        if flash
            div.alert(class='#{flash.type}')
                ul
                - for (var i = 0; i < flash.messages.length; i++) {
                li #{flash.messages[i].msg}
                - }
                ul






                    //
                       Created by user on 4/19/17.
